{% extends 'base.html' %}

{%block content %}

<!---->
{% if request.user.is_authenticated %}
<div class="d-flex flex-row-reverse mt-5 mb-2">
    {% if perms.evos_app.change_dish %}
    <a href="{% url 'dish_update' dish.pk %}" class="btn btn-success">Update</a>
    {% endif%}
    {% if perms.news.delete_dish %}
    <a href="{% url 'delate_dish' dish.pk %}" class="btn btn-danger">Delete</a>
        {% endif%}


</div>
{%endif%}

<div class="container mt-5">
<div class="row row-cols-1 row-cols-md-7 g-5 me-5">
                <div class="col">


                    <div class="card h-100">
                          <div class="card-footer ">
                              <b>by</b> <i>{%if dish.chef%}{{ dish.chef }}{%else%}None{%endif%}</i>
                    </div>
                        <a href="#">
                            {% if dish.photo %}
                                <img src="{{ dish.photo.url }}" class="card-img-top" alt="{{ dish.photo.name }}" />
                            {% else %}
                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top" alt="Palm Springs Road" />
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <a href="">
                                <h4 class="card-title">{{ dish.name }}</h4>
                            </a>
                            <p class="card-text">
                                {{ dish.about }}
                            </p>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <small class="text-muted">{{ dish.name }}</small>
                            <a href="">
                            <div class="card-footer d-flex justify-content-between">
                                <small class="text-muted">{{ dish.category.name }}</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
</div>
</div>
{% if request.user.is_authenticated %}
<form class="mt-5" method="post" action="{% url 'comment_save' dish.pk %}">
    {%csrf_token%}
    <div class="form-outline" data-mdb-input-init>
                {{ comment_form.text }}
  <label class="form-label" for="textAreaExample">Message</label>
</div>
        <input type="submit" value="Save" class="btn btn-primary mt-2">
</form>
{% endif %}

<div class="mt-5">
    {% for comment in commnets %}
<div class="card border border-success shadow-0 mb-3" style="max-width: 90rem;">
  <div class="card-header">{{ comment.user.username }}
  {% if comment.user == request.user or request.user.is_superuser %}
  <a href="{% url 'delete_comment' comment.pk dish.pk %}"> O'CHIRISH</a>
      {% endif %}
  </div>
  <div class="card-body text-success">
    <h5 class="card-title">{{ comment.created }}</h5>
    <p class="card-text">{{ comment.text }}</p>
  </div>
</div>
{% endfor %}
</div>

{% endblock content %}
